<div class="banner__container">
  <app-banner
    bannerImage2="assets/spiderman-2.avif"
    bannerImage="assets/spiderman-2-ps5.png"
    bannerTitle="Marvel's Spider-Man 2"
    bannerDescription="Be Greatter. Together."
  >
  </app-banner>
</div>
<div class="home__container">
  <app-card
    gameCover="assets/spider-man-mm-ps5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="ULTIMATE EDITION - PS5"
    gamePrice="$139.90"
    >
  </app-card>
  <app-card
  gameCover="assets/god-of-war.webp"
  gameLabel="DIGITAL"
  gameType="DIGITAL EXCLUSIVE - PS5"
  gamePrice="$79.90"
  >
  </app-card>
    <app-card
    gameCover="assets/hogwarts.webp"
    gameLabel="DIGITAL"
    gameType="DIGITAL - PS5"
    gamePrice="$129.90"
    >
  </app-card>
  <app-card
    gameCover="assets/cod-vanguard.webp"
    gameLabel="DIGITAL"
    gameType="DIGITAL - PS5"
    gamePrice="$59.90"
  >
  </app-card>
  <app-card
    gameCover="assets/horizon.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL - PS5"
    gamePrice="$59.90"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-valhalla.webp"
    gameLabel="DIGITAL"
    gameType="DIGITAL - PS5"
    gamePrice="$39.90"
  >
  </app-card>
</div>
