.home__container {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  gap: 40px;
}