.sony-logo__container {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  background: black;
}

.sony-logo__container > svg {
  margin-right: 10px;
  height: 13px;
}

.cls-1 {
  fill: #fff;
}

.menu-bar__container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  transform: translateZ(0px);
  z-index: 999;
  background-color: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: height 0.25s ease-out;
  transition: all 0.3s ease-in-out;
}

.menu-bar__container.menu-fixo {
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-bar__logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.menu-bar__item {
  display: flex;
  margin: auto;
  align-items: center;
}

.menu-bar__item > ul {
  display: flex;
  list-style-type: none;
  margin-left: 100px;
}

.menu-bar__item > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a {
  text-decoration: none;
  padding: 5px 15px;
  color: black;
  font-family: "Segoe UI";
  font-weight: 600;
  border-radius: 20px;
  transition: 0.9s;
}

.menu-bar__item > ul > li > a:hover {
  background-color: #e1e1e1;
}

.social-btns {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.social-btns > ul {
  display: flex;
  list-style-type: none;
}

.social-btns > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.social-btns > ul > li > a {
  text-decoration: none;
  padding: 10px 10px;
  color: black;
  border-radius: 50px;
  transition: 0.9s;
}

.social-btns > ul > li > a:hover {
  color: #00d9ff;
}
